.containersection{
    max-width:600px;
margin:auto;
}
.maintable{
    margin:auto;
    /* background-color: lavender; */
}
.mainheading{
   text-align: center;
}
.articlesdetails{
    width:100%;
    margin:auto;
    border-collapse: collapse;
    text-align: center;
    height:5px;
    /* background-color:#C4E4FF; */
}
/* .rowdetails{
    border:1px solid;
} */
.articlesdetails, td, th {
    border: 1px solid;
  }
  