.containersection {
    max-width: 600px;
    margin: auto;
}

.maintable {
    margin: auto;
    /* background-color: lavender; */
}

.mainheading {
    text-align: center;
}

.articlesdetails {
    width: 700px;
    height: 20px;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    height: 5px;
    /* background-color:#C4E4FF; */
}

.articlesdetails,td,th {
    border: 1px solid;
    height: 35px;
}

.redirectionbutton {
    width: 100px;
    height: 30px;
    margin-top: 15px;
    border: 1px solid black;
}
    