.new-article {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 615px;
    margin: auto;
    background-size: cover;
    background-image: url(./images/sky2.10.jpg);

    /* background-image: url(./images/dashboardbackground.png); */
    /* max-width: 285px;
    margin: auto; */
    
}

.inner-article {
    margin: auto;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dde4eb;
    /* background-color: #9BB8CD; */
    border-radius: 10px;
    position:absolute;
    top:35%;
    bottom:50%;
    left:37%;
    right:37%;

}

.heading {
    font-family: sans-serif;
    text-align: center;
    

}

#title {
    width: 100%;
    height: 20px;
    /* margin-bottom: 5px; */
    background: none;
    border: 1px ;
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    height: 20px;
    background: none;
    border: 1px;
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;

}

#image {
    margin-top: 5px;
    margin-bottom: 15px;
}

.topic {
    /* text-align: center;  */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-bottom:20px;

}

button {
    width: 90px;
    height: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.4s;

}
button:hover{
    color: #9BB8CD;
    /* background-color: #9BB8CD; */
   
}