/* css for sing up form */
.sectionpage_1 {
    max-width:100%;
    /* height: 500px; */
    margin: auto;
    position: absolute;
    top: 10%;
    left: 35%;
    


}

.mainpage {
    margin: auto;
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(156, 175, 170);

}

/* .innerpage1 {
    width: 325px;
    height: 470px;
    border-radius: 10px;
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px; */
/* background-color: rgb(255, 255, 255); 

}*/

.innerpage {
    /* height: 300px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.headingpage {
    font-size: 20px;
    height: 45px;
    text-align: center;
    font-family: sans-serif;
    color: white;

}

#details {
    /* margin: auto; */
    width: 260px;
    height: 27px;
    display: flex;
    justify-items: center;
    align-items: center;
    border: none;
    /* line-height: 5px; */
    background: transparent;
    border-bottom: 1px solid;

}

button {
    font-size: 15px;
    font-family: sans-serif;
    width: 110px;
    height: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
    transition-duration: 0.5s;


}

button:hover {
    color: #4F6F52;
}

.notice {
    margin-bottom: 2px;
}


.formfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;

}